.board-container {
  display: grid;
  /* grid-gap: 10px; */
  margin-top: 80px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: auto;
  border: 8px solid #565555;
  background: #7d7d7d;
}

.board-cell {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.mapple::before {
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14);
}
